# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.Sensum.Unity.iml
# Datasource local storage ignored files
/../../../../../../../../:\UsingFiles\Production\Sensum_VR\Sensum.Unity\.idea\.idea.Sensum.Unity\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
